html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.container{
    width: 100%;
    height: 100%;
}

.banner{
    background-image: url(./imgs/hiring-concept-with-people-coming-together.png);
    width: 100%;
    height: 30%;
    position:absolute;
    background-repeat: no-repeat;
    background-color: #bcc3c9;
    align-items: center;
    justify-content: center;
}